* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.container {
    color: white;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/965879/pexels-photo-965879.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    height: 500px;
    background-size: cover;
}

.playerturn {
    border-bottom: 0.2px solid rgba(255, 255, 255, 0.445);
}

.dice-rolling {

   display: contents;
   text-align: center;
   
    width: 150px;
    height: 120px;

}

#number-board2{
    border-top: 1px solid white;
}

.player1 {

    border-right: 2px solid rgba(255, 255, 255, 0.445);

}

.player2 {
    border-left: 2px solid rgba(255, 255, 255, 0.445);
}


.playerturn {
    margin: 0;
    height: 40px;
}

.dice-main {
    margin-top: 90px;
}